* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  font-family: '微软雅黑';
  background: #329 url('/study/lucky/event-2-show.jpg') no-repeat;
  background-size: 100% 360px;
}
.start {
  height: 350px;
  line-height: 350px;
  font-size: 120px;
  color: #ff0;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top: 350px;
  box-shadow: 0px 0px 3px #ff0 inset;
  cursor: pointer;
}
.shink {
  -webkit-animation: shink 1s;
          animation: shink 1s;
}
.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #000;
  margin: 10px;
  color: #fff;
}
.result {
  display: none;
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 200px;
  right: 200px;
  font-size: 32px;
  background-image: url('/study/lucky/1.jpg');
  background-size: 1920px 1000px;
  background-position: center 0;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
.result .title {
  font-size: 100px;
  margin: 150px 0 10px;
  line-height: 1.1;
}
.result .desc {
  line-height: 1.1;
  font-size: 24px;
}
.result .sub_title {
  margin-top: 20px;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.result .sub_title:after {
  position: absolute;
  content: '';
  width: 400px;
  left: 50%;
  top: 12px;
  z-index: -1;
  height: 2px;
  margin-left: -210px;
  background: #0dd3e8;
}
.result .sub_title span {
  background: #0df;
  color: #333;
  display: inline-block;
  line-height: 1.2;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
}
.result .persons {
  position: relative;
  background: #150334;
  padding: 50px 0;
  font-weight: 100;
  width: 400px;
  margin: 0 auto;
  top: -16px;
  left: -10px;
  font-size: 20px;
}
.result .persons .person {
  line-height: 2.5;
  white-space: nowrap;
  position: relative;
}
.result .persons .person .img {
  position: absolute;
  left: 20px;
  height: 32px;
  top: 8px;
}
.result .persons .person .mobile {
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 8px;
  padding: 0 3px;
  background: #150334;
}
.all {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  top: 0;
  bottom: 0;
  width: 200px;
  z-index: 1;
  color: #f3f3f3;
  text-align: left;
}
.all.right {
  right: 200px;
  text-align: right;
}
.all.right .wrap {
  right: 0px;
  left: auto;
}
.all .wrap {
  position: absolute;
  top: 0;
  left: 200px;
}
.all .wrap .person {
  line-height: 70px;
  font-size: 32px;
  white-space: nowrap;
}
@-webkit-keyframes stop {
  to {
    top: -800px;
  }
}
@keyframes stop {
  to {
    top: -800px;
  }
}
@-webkit-keyframes shink {
  40% {
    font-size: 200px;
    color: rgba(255, 255, 0, 0.5);
  }
  50%,
  100% {
    color: rgba(255, 255, 0, 0);
  }
}
@keyframes shink {
  40% {
    font-size: 200px;
    color: rgba(255, 255, 0, 0.5);
  }
  50%,
  100% {
    color: rgba(255, 255, 0, 0);
  }
}
