.loader {
  background-color: #fff;
  position: absolute;
  transition: all 1.5s ease-in;
}
body,
html,
ul,
div,
li,
h1 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-height: 900px;
  min-width: 1230px;
  font-family: '微软雅黑';
}
.g-ctn {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #877cb1;
}
.m-title {
  position: absolute;
  color: #fff;
  font-size: 16px;
  top: 40px;
  left: 50px;
  opacity: 0;
  transition: opacity 1s;
}
.m-descs {
  position: absolute;
  opacity: 0;
  top: 300px;
  left: 20%;
  width: 20%;
  min-width: 260px;
  color: #fff;
  transition: opacity 1s;
}
.m-descs .desc {
  position: absolute;
}
.m-descs .desc .icon {
  margin: 0 12% 40px;
}
.m-descs .desc .title {
  font-size: 32px;
  line-height: 1.2;
}
.m-descs .desc .text {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.8;
}
.m-arrow {
  position: absolute;
  top: 480px;
  left: 0px;
  width: 120px;
  height: 64px;
  display: none;
}
.m-arrow svg {
  transition: all 0.7s;
}
.m-arrow:hover svg {
  transform: matrix(1, 0, 0, 1, -10, 0);
}
.m-header {
  color: #fff;
  text-align: center;
  width: 915px;
  margin: 100px auto 0;
}
.m-header .icon {
  width: 200px;
}
.m-header .title {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
}
.m-header .title h1 {
  letter-spacing: -2px;
}
.m-header .text {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 40px 0 70px;
  opacity: 0.8;
}
.show-navigations {
  opacity: 1 !important;
  right: 30px !important;
}
.m-navigations {
  position: absolute;
  right: 0px;
  height: 104px;
  width: 26px;
  opacity: 0;
  top: 420px;
  transition: all 1s;
}
.m-navigations .navBtn {
  position: relative;
  width: 26px;
  height: 26px;
}
.m-navigations .navBtn circle {
  transition: all 1s;
}
.m-navigations .navBtn .dot {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
}
.wrapper {
  position: relative;
  /*overflow: hidden;*/
  width: 1230px;
  margin: 0 auto;
  font-size: 0;
  height: 100%;
}
.wrapper .imgs-wrapper {
  display: inline-block;
  left: 0;
  width: 400px;
  height: 260px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  /*transition:all 1s;*/
}
.wrapper .imgs-wrapper .hidden-photos {
  display: none;
}
.wrapper .imgs-wrapper .m-photos {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.wrapper .imgs-wrapper .photos {
  position: absolute;
  height: 120%;
  width: 120%;
}
.wrapper .imgs-wrapper .photos .photo {
  width: 100%;
  height: 100%;
  transform: matrix(1, 0, 0, 1, -40, -24);
  transition: all 1s;
}
.wrapper .imgs-wrapper .photos .bigphoto {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wrapper .imgs-wrapper .photos .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #818181;
  opacity: 0.65;
  transition: all 1s;
}
.wrapper .imgs-wrapper .photos .textmask {
  position: absolute;
  top: 110px;
  left: 140px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  transition: all 1s;
}
.wrapper .imgs-wrapper .loaders {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrapper .imgs-wrapper .loaders .loaderRun .loaderTop,
.wrapper .imgs-wrapper .loaders .loaderRun .loaderBottom {
  transform: scale(1, 1);
}
.wrapper .imgs-wrapper .loaders .loaderRun .loaderLeft,
.wrapper .imgs-wrapper .loaders .loaderRun .loaderRight {
  transform: scale(1, 1);
}
.wrapper .imgs-wrapper .loaders .loaderTop {
  top: -1px;
  width: 100%;
  height: 5px;
  left: 0;
  background-color: #fff;
  position: absolute;
  transition: all 1.5s ease-in;
  transform: scale(0, 1);
  transform-origin: 0% 0% 0px;
}
.wrapper .imgs-wrapper .loaders .loaderLeft {
  top: 0;
  left: -1px;
  height: 100%;
  width: 5px;
  background-color: #fff;
  position: absolute;
  transition: all 1.5s ease-in;
  transform: scale(1, 0);
  transform-origin: 0% 100% 0px;
}
.wrapper .imgs-wrapper .loaders .loaderRight {
  top: 0;
  right: -1px;
  height: 100%;
  width: 5px;
  background-color: #fff;
  position: absolute;
  transition: all 1.5s ease-in;
  transform: scale(1, 0);
  transform-origin: 100% 0% 0px;
}
.wrapper .imgs-wrapper .loaders .loaderBottom {
  bottom: -1px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  transition: all 1.5s ease-in;
  transform: scale(0, 1);
  transform-origin: 100% 100% 0px;
}
.wrapper .imgs-wrapper.wrapper-sm:hover .photos .photo {
  width: 400px;
  height: 258px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wrapper .imgs-wrapper.wrapper-sm:hover .photos .mask {
  opacity: 0;
}
.wrapper .imgs-wrapper.wrapper-sm:hover .photos .textmask {
  transform: scale(0.3);
  opacity: 0;
}
.wrapper #imgs-wrapper1 {
  left: 410px;
}
.wrapper #imgs-wrapper2 {
  left: 820px;
}
