html,body,div,ul,li,p{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: '微软雅黑';
}
html,body{
	width:100%;
	height: 100%;
}
.container,.header{
	min-width: 1800px;
	width:100%;
	max-width: 2000px;
}
.header{
	background: rgba(255,255,255);
	height: 60px;
	margin-top:20px;
}
.header>.logo{
	display: inline-block;
	margin:0 0 0 360px;
	height: 60px;
	position: relative;
	top:-10px;
}
.logo>img{
	height: 24px;
	margin-top:0px;
}
.logo>p{
	font-size: 12px;
	margin-top:5px;
	color: rgb(135,68,149);
}
.header ul{
	margin-left:140px;
	height: 100%;
	display: inline-block;
	line-height: 60px;
}
.header ul>li{
	float: left;
	width:120px;
}
.header ul>li>a{
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color:#222;
	height: 40px;
	letter-spacing:2px;
}
.header ul>li>a:hover{
	color:rgb(156,120,165);
	cursor: pointer;
}
.header .login{
	margin-left:165px;
}
.header>.login li>a{
	font-size: 14px;
}
.shoppingcart:before{
	content:url(images/shoppingcart.png);
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}
.container{
	height: 100%;
	position: relative;
}
.headerbg{
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    height: 180px;
	margin-left:360px;
    background-size: 1230px;
    background-position: 0px center;
}
.nav{
	position: absolute;
	left:500px;
	top:135px;
	color: #fff;
}
.nav>span{
	font-size: 30px;
	display: inline-block;
}
.nav>ul{
	display: inline-block;
	margin-left: 330px;
	vertical-align: sub;
}
.nav>ul>li{
	float: left;
	text-align: center;
	width:100px;
	border-right: 1px solid #fff;
	font-size:18px;
	cursor: pointer;
}
.content{
	margin:10px 360px 100px;
	width:1230px;
}
.content>h3{
	font-size: 18px;
	border-bottom: 1px solid #ccc;
	height: 25px;
	margin-top:50px;
	font-weight: normal;
}
.content>p{
	font-size: 14px;
}
.content>p.ask{
	margin:30px 0 5px 0;
}